<svelte:options
  customElement={{
    tag: "wc-logo",
  }}
/>

<script lang="ts">
  export let size: "small" | "medium" | "large" = "medium";
  export let positive = false;
</script>

<svg
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 1166 167"
  class="{size === 'small'
    ? 'h-4'
    : size === 'medium'
    ? 'h-8'
    : 'h-12'} {positive ? 'fill-red-500' : 'fill-white'}"
  ><path
    d="M113.531 669.42c.309 8.411 2.201 15.915 5.674 22.515 3.815 7.243 9.137 12.896 15.965 16.952 6.829 4.056 14.854 6.085 24.075 6.085 9.707 0 18.218-2.325 25.533-6.968 7.316-4.647 12.776-11.024 16.379-19.136l8.736 3.328c-4.297 9.637-10.867 17.245-19.707 22.827-8.84 5.579-19.118 8.371-30.837 8.373-11.091-.002-20.763-2.411-29.016-7.229-8.249-4.819-14.646-11.457-19.187-19.915-4.54-8.459-6.813-18.235-6.813-29.328 0-11.163 2.273-21.043 6.813-29.64 4.541-8.598 10.885-15.341 19.032-20.229 8.148-4.888 17.664-7.331 28.547-7.331 10.816 0 20.193 2.392 28.133 7.176 7.939 4.784 14.091 11.387 18.459 19.811s6.552 18.149 6.552 29.173c0 .761-.016 1.437-.051 2.027a25.173 25.173 0 0 0-.053 1.509h-98.234Zm89.116-7.384c-.361-7.951-2.122-15.057-5.285-21.32-3.571-7.072-8.648-12.621-15.237-16.64-6.585-4.023-14.385-6.032-23.4-6.032-8.944 0-16.813 2.08-23.608 6.24-6.793 4.16-12.097 9.913-15.912 17.264-3.15 6.07-4.999 12.901-5.547 20.488h88.989Z"
    transform="translate(-104.333 -557.308)"
  /><path
    d="M442.084 636.283h24.648v7.904h-58.136v-7.904h24.336V487.771h-24.336v-7.904h33.488v156.416Z"
    transform="translate(-299.916 -479.867)"
  /><path
    d="M342.434 602.756h-2.541v91.312h18.928v27.56h-65.624v-27.56h18.928V591.316h-18.928v-27.56h62.712l65.534 114.608h2.586v-87.048h-18.928v-27.56h65.624v27.56h-18.928v130.312h-41.392l-67.971-118.872ZM542.821 689.076h-.936c-1.525 11.578-5.649 20.245-12.376 26-6.723 5.753-15.667 8.63-26.832 8.632-11.993-.002-21.077-2.775-27.248-8.32-6.17-5.547-9.256-13.382-9.256-23.504 0-9.846 3.086-17.352 9.256-22.517 6.171-5.166 15.843-8.928 29.016-11.283l38.376-7.224v-2.24c0-3.952-.832-7.229-2.496-9.829-1.664-2.6-4.071-4.523-7.227-5.771-3.155-1.248-6.95-1.872-11.389-1.872-6.24 0-11.319 1.264-15.235 3.795-3.917 2.532-6.466 6.535-7.645 12.013l-29.12-4.472c1.248-8.112 3.987-15.011 8.216-20.696 4.23-5.687 10.158-10.021 17.784-13 7.627-2.983 17.16-4.472 28.6-4.472 10.747 0 19.848 1.403 27.301 4.211 7.453 2.808 13.122 7.194 17.003 13.157 3.883 5.962 5.824 13.658 5.824 23.088v50.752h13.728v26.104h-31.096c-4.576 0-8.094-1.371-10.555-4.109-2.46-2.741-3.693-6.603-3.693-11.595v-16.848Zm.916-22.872-30.14 6.44c-4.992.969-8.632 2.614-10.92 4.939-2.288 2.322-3.432 5.39-3.432 9.205 0 4.089 1.301 7.209 3.901 9.36 2.6 2.147 6.326 3.224 11.179 3.224 5.547 0 10.557-1.389 15.029-4.16 4.472-2.775 7.99-6.744 10.555-11.909 2.381-4.789 3.656-10.489 3.828-17.099Z"
    transform="translate(-115.333 -557.308)"
  /><path
    d="M698.277 654.548c-.624-4.715-2.063-8.824-4.315-12.325-2.253-3.502-5.218-6.224-8.893-8.163-3.674-1.943-7.973-2.912-12.896-2.912-5.893 0-11.04 1.385-15.443 4.16-4.403 2.771-7.816 6.619-10.245 11.544-2.425 4.921-3.64 10.677-3.64 17.264 0 6.309 1.232 11.872 3.693 16.691 2.46 4.82 5.963 8.564 10.504 11.232 4.541 2.669 9.968 4.005 16.275 4.005 6.589 0 12.153-1.423 16.693-4.264 4.541-2.845 7.643-6.693 9.307-11.544l30.68 10.296c-3.466 10.4-10.226 18.581-20.28 24.544-10.053 5.961-22.289 8.942-36.712 8.944-12.825-.002-23.92-2.515-33.28-7.541-9.36-5.027-16.587-11.995-21.683-20.904-5.096-8.91-7.645-19.258-7.645-31.043 0-8.807 1.37-16.885 4.109-24.232 2.74-7.351 6.588-13.695 11.544-19.032 4.957-5.341 10.73-9.45 17.315-12.325 6.589-2.878 13.728-4.315 21.424-4.315 7.003 0 12.792 1.195 17.368 3.587 4.576 2.392 8.079 5.842 10.504 10.349 2.429 4.506 3.919 9.984 4.472 16.432h1.144V607.02h31.616v47.528h-31.616Z"
    transform="translate(-130.333 -557.308)"
  /><path
    d="M977.164 618.187h16.328v26H927.66v-26h17.888v-62.608H927.66v-26h49.504v88.608ZM942.74 481.219h35.36v29.952h-35.36v-29.952Z"
    transform="translate(-316.916 -479.867)"
  /><path
    d="M1066.92 646.579c-12.69-.002-23.75-2.515-33.18-7.541-9.43-5.027-16.76-11.995-21.99-20.904-5.24-8.91-7.86-19.224-7.86-30.939 0-11.856 2.62-22.291 7.86-31.304 5.23-9.015 12.56-16.053 21.99-21.112 9.43-5.063 20.49-7.592 33.18-7.592 12.62 0 23.66 2.529 33.12 7.592 9.47 5.059 16.8 12.097 22 21.112 5.2 9.013 7.8 19.448 7.8 31.304 0 11.715-2.6 22.029-7.8 30.939-5.2 8.909-12.52 15.877-21.95 20.904-9.43 5.026-20.49 7.539-33.17 7.541Zm0-27.976c5.96 0 11.21-1.301 15.75-3.901 4.54-2.6 8.1-6.258 10.66-10.971 2.57-4.717 3.85-10.263 3.85-16.64 0-6.311-1.28-11.875-3.85-16.693-2.56-4.819-6.12-8.579-10.66-11.283-4.54-2.704-9.79-4.056-15.75-4.056-5.97 0-11.22 1.352-15.76 4.056-4.54 2.704-8.09 6.464-10.66 11.283-2.57 4.818-3.85 10.382-3.85 16.693 0 6.377 1.28 11.923 3.85 16.64 2.57 4.713 6.12 8.371 10.66 10.971 4.54 2.6 9.79 3.901 15.76 3.901Z"
    transform="translate(-322.916 -479.867)"
  /><path
    d="M1011.11 665.26v30.368h14.66v26h-64.165v-26h17.888V633.02h-17.888v-26h49.505v34.216h1.14c1.11-8.112 3.42-14.872 6.92-20.28 3.5-5.408 8.01-9.481 13.52-12.221 5.51-2.739 11.84-4.107 18.98-4.107 11.58 0 20.45 3.379 26.62 10.139 6.18 6.76 9.26 16.45 9.26 29.069v51.792h16.54v26h-62.82v-26h14.66v-43.992c0-6.518-1.54-11.701-4.62-15.549-3.09-3.848-7.65-5.771-13.68-5.771-5.13 0-9.69 1.403-13.68 4.211-3.98 2.808-7.12 6.829-9.41 12.064-2.29 5.234-3.43 11.456-3.43 18.669Z"
    transform="translate(-147.333 -557.308)"
  /><path
    d="M1191.03 689.076h-.94c-1.52 11.578-5.65 20.245-12.37 26-6.73 5.753-15.67 8.63-26.84 8.632-11.99-.002-21.07-2.775-27.24-8.32-6.17-5.547-9.26-13.382-9.26-23.504 0-9.846 3.09-17.352 9.26-22.517 6.17-5.166 15.84-8.928 29.01-11.283l38.38-7.224v-2.24c0-3.952-.83-7.229-2.5-9.829-1.66-2.6-4.07-4.523-7.22-5.771-3.16-1.248-6.95-1.872-11.39-1.872-6.24 0-11.32 1.264-15.24 3.795-3.91 2.532-6.46 6.535-7.64 12.013l-29.12-4.472c1.24-8.112 3.98-15.011 8.21-20.696 4.23-5.687 10.16-10.021 17.79-13 7.62-2.983 17.16-4.472 28.6-4.472 10.74 0 19.85 1.403 27.3 4.211 7.45 2.808 13.12 7.194 17 13.157 3.88 5.962 5.82 13.658 5.82 23.088v50.752h13.73v26.104h-31.09c-4.58 0-8.1-1.371-10.56-4.109-2.46-2.741-3.69-6.603-3.69-11.595v-16.848Zm.91-22.872-30.13 6.44c-5 .969-8.64 2.614-10.93 4.939-2.28 2.322-3.43 5.39-3.43 9.205 0 4.089 1.3 7.209 3.9 9.36 2.6 2.147 6.33 3.224 11.18 3.224 5.55 0 10.56-1.389 15.03-4.16 4.47-2.775 7.99-6.744 10.56-11.909 2.38-4.789 3.65-10.489 3.82-17.099Z"
    transform="translate(-148.333 -557.308)"
  /><path
    d="M1477.51 618.187h17.16v26H1428v-26h17.89v-112.32H1428v-26h49.51v138.32Z"
    transform="translate(-328.916 -479.867)"
  /></svg
>
