<script lang="ts">
  import type { Hst as Histoire } from "@histoire/plugin-svelte";
  import {
    randUrl,
    randParagraph,
    randPhrase,
    randText,
    randFullName,
    randAvatar,
    randNumber,
    randMonth,
  } from "@ngneat/falso";

  export let Hst: Histoire;

  $: card = {
    title: randPhrase(),
    url: randUrl(),
    excerpt: randParagraph(),
    feature_image: "https://picsum.photos/400/300",
    tag_name: randText(),
    tag_url: randUrl(),
    author_name: randFullName(),
    author_url: randUrl(),
    author_profile_image: randAvatar(),
    reading_time: `${randNumber({ min: 5, max: 25 })} min read`,
    published_at: `${randMonth({ abbreviation: true })} ${randNumber({
      min: 1,
      max: 30,
    })}, 2023`,
  };

  let heading = 4;
  let density = "compact";
  let densityOptions = [
    { value: "normal", label: "Normal" },
    { value: "compact", label: "Compact" },
    { value: "minimal", label: "Minimal" },
  ];
</script>

<svelte:head>
  <script type="module" src="../custom_elements/index.js"></script>
</svelte:head>

<Hst.Story title="Components/Card">
  <div class="max-w-3xl">
    <Hst.Variant title="Is Half">
      <wc-card
        {...card}
        media_align="left"
        media_width="is-half"
        {heading}
        {density}
      />
    </Hst.Variant>
    <Hst.Variant title="Is Two Fifths">
      <wc-card
        {...card}
        media_align="left"
        media_width="is-two-fifths"
        {heading}
        {density}
      />
    </Hst.Variant>
    <Hst.Variant title="Is One Third">
      <wc-card
        {...card}
        media_align="left"
        media_width="is-one-third"
        {heading}
        {density}
      />
    </Hst.Variant>
    <Hst.Variant title="Is One Quarter">
      <wc-card
        {...card}
        media_align="left"
        media_width="is-one-quarter"
        {heading}
        {density}
      />
    </Hst.Variant>
    <Hst.Variant title="Is One Fifth">
      <wc-card
        {...card}
        media_align="left"
        media_width="is-one-fifth"
        {heading}
        {density}
      />
    </Hst.Variant>
    <Hst.Variant title="Is Half Right">
      <wc-card
        {...card}
        media_align="right"
        media_width="is-half"
        {heading}
        {density}
      />
    </Hst.Variant>
  </div>
  <div class="max-w-lg">
    <Hst.Variant title="Is Top">
      <wc-card {...card} media_align="top" {heading} {density} />
    </Hst.Variant>
    <Hst.Variant title="Is Bottom">
      <wc-card {...card} media_align="bottom" {heading} {density} />
    </Hst.Variant>
  </div>

  <svelte:fragment slot="controls">
    <Hst.Radio
      bind:value={density}
      bind:options={densityOptions}
      title="Density"
    />
  </svelte:fragment>
</Hst.Story>
