<script lang="ts">
  import type { Hst as Histoire } from "@histoire/plugin-svelte";
  import { randPhrase } from "@ngneat/falso";
  export let Hst: Histoire;

  let posts = Array.from({ length: 7 }, () => ({
    title: randPhrase(),
  }));

  let grid = {
    desktop: 5,
    mobile: 2,
    gap: "medium",
  };
</script>

<svelte:head>
  <script type="module" src="../custom_elements/index.js"></script>
</svelte:head>

<Hst.Story title="Components/Grille">
  <div class="section">
    <wc-grille {...grid}>
      {#each posts as post, i}
        <span><b>{i}.- </b>/{post.title}</span>
      {/each}
    </wc-grille>
  </div>
</Hst.Story>
