<script lang="ts">
  import type { Hst as Histoire } from "@histoire/plugin-svelte";

  export let Hst: Histoire;

  let positive = true;
</script>

<svelte:head>
  <script type="module" src="../custom_elements/index.js"></script>
</svelte:head>

<Hst.Story title="Components/Logo">
  <div class="{'flex flex-col gap-8 p-8'} {!positive ? 'bg-red-500' : ''}">
    <wc-logo {positive} size="small" />
    <wc-logo {positive} />
    <wc-logo {positive} size="large" />
  </div>

  <svelte:fragment slot="controls">
    <Hst.Checkbox bind:value={positive} title="Positivo" />
  </svelte:fragment>
</Hst.Story>
