<script lang="ts">
  import type { Hst as Histoire } from "@histoire/plugin-svelte";
  import { randUrl, randMusicGenre } from "@ngneat/falso";

  export let Hst: Histoire;

  let nav = Array.from({ length: 7 }, () => ({
    slug: randMusicGenre(),
    url: randUrl(),
  }));
  let home = randUrl();
</script>

<svelte:head>
  <script type="module" src="../custom_elements/index.js"></script>
</svelte:head>

<Hst.Story title="Components/Menu">
  <div class="text-center">
    <wc-menu {home}>
      <wc-logo slot="logo" />
      <button class="border-0 bg-white p-1" slot="search">
        <span class="i-ri-search-line block h-6 w-6" />
      </button>
      {#each nav as item, index}
        <wc-menu-item url={item.url} current={index === 0 || null}
          >{item.slug}</wc-menu-item
        >
      {/each}
    </wc-menu>
  </div>

  {#each Array(32) as _}
    <hr
      class="my-8 border-x-0 border-b-0 border-t border-t-solid border-neutral-100"
    />
  {/each}
</Hst.Story>
