<script lang="ts">
  import type { Hst as Histoire } from "@histoire/plugin-svelte";
  import { randParagraph } from "@ngneat/falso";

  export let Hst: Histoire;
</script>

<svelte:head>
  <script type="module" src="../custom_elements/index.js"></script>
</svelte:head>

<Hst.Story title="Components/Offcanvas">
  <wc-offcanvas>
    <span slot="open" class="block h-6 w-6 i-ri-menu-line" />
    <p class="m-0" slot="content">{randParagraph()}</p>
  </wc-offcanvas>

  {#each Array(32) as _}
    <hr
      class="my-8 border-x-0 border-b-0 border-t border-t-solid border-neutral-100"
    />
  {/each}
</Hst.Story>
