<script lang="ts">
  import type { Hst as Histoire } from "@histoire/plugin-svelte";

  export let Hst: Histoire;
</script>

<svelte:head>
  <script type="module" src="../custom_elements/index.js"></script>
</svelte:head>

<Hst.Story title="Components/Sticky">
  <span class="uppercase">Desplace el scroll</span>
  <div class="fixed">
    <wc-sticky>
      <span class="py-2 px-4 font-sans font-700 uppercase bg-red-500">
        Aqui estoy
      </span>
    </wc-sticky>
  </div>
  {#each Array(36) as _}
    <hr
      class="my-8 border-x-0 border-b-0 border-t border-t-solid border-neutral-100"
    />
  {/each}
</Hst.Story>
