html {
  --at-apply: scroll-smooth;
}

body::-webkit-scrollbar {
  --at-apply: w-2 h-2;
}

body::-webkit-scrollbar-track {
  --at-apply: bg-neutral-300;
}

body::-webkit-scrollbar-thumb {
  --at-apply: bg-red-500;
}

body {
  --at-apply: scroll-smooth;
}

::-moz-selection {
  --at-apply: text-red-100 bg-red-500;
}

::selection {
  --at-apply: text-red-100 bg-red-500;
}

.paragraphs {
  --at-apply: flex flex-col gap-y-6;
}

.paragraphs p {
  --at-apply: font-serif post-content -tracking-.005em;
}

.paragraphs h2 {
  --at-apply: font-700 pt-8 headline-4;
}

.paragraphs h3 {
  --at-apply: font-700 headline-5;
}

.paragraphs a {
  --at-apply: underline hover:cursor-pointer;
}

.paragraphs img {
  --at-apply: rounded-lg;
}

.paragraphs blockquote {
  --at-apply: relative p-4 font-sans post-content border border-red-200 text-red-500 before:content-[""] before:absolute before:border-x before:border-neutral-100 before:inset-y-4 before:-inset-x-px after:content-[""] after:absolute after:border-y after:border-neutral-100 after:-inset-y-px after:inset-x-4;
}

.paragraphs table {
  --at-apply: font-serif post-content;
}

.paragraphs caption {
  --at-apply: uppercase tracking-wide font-400;
}

.paragraphs table thead tr {
  --at-apply: text-left text-neutral-700;
}

.paragraphs caption,
.paragraphs table thead th,
.paragraphs table tbody td {
  --at-apply: py-2;
}

.paragraphs table thead tr,
.paragraphs table tbody tr {
  --at-apply: border-b border-neutral-200;
}

/* @layer base, components, utilities;

@layer base {
  @unocss preflights;
}

@layer utilities {
  @unocss default;
  @unocss;
}

@layer components {
} */

/* This keeps small embeds centered */
.kg-width-wide {
  --at-apply: w-fit;
}

.kg-width-full {
  --at-apply: w-screen;
}

.kg-embed-card {
  --at-apply: flex flex-col items-center w-full;
}

.kg-embed-card iframe {
  --at-apply: max-w-680px;
}

/* Highly specific styles for traditional Instagram embeds */
iframe {
  margin-top: 3vmin !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 3vmin !important;
}

/* Youtube iframe */
iframe[src*="youtube.com"] {
  --at-apply: aspect-video w-full h-auto;
}