<svelte:head>
  <script type="module" src="../custom_elements/index.js"></script>
</svelte:head>

<!-- @unocss-skip-start -->
<main class="container mx-auto flex flex-col items-center gap-4">
  <h1 class="text-center border-b border-solid border-blue">Vite + Svelte</h1>
  <p class="italic underline-solid underline">
    Click on the Vite and Svelte logos to learn more
  </p>
  <wc-logo />
</main>
<!-- @unocss-skip-end -->
