<svelte:options
  customElement={{
    tag: "wc-sticky",
  }}
/>

<script lang="ts">
  import { afterUpdate, tick } from "svelte";
  import { fade } from "svelte/transition";
  import { windowScrollStore } from "svelte-legos";

  const position = windowScrollStore();
  let el = null;
  let isVisible = false;

  // const rendering = () => el.getBoundingClientRect().top;

  afterUpdate(async () => {
    await tick();
    isVisible = $position.y > el.getBoundingClientRect().top;
  });
</script>

<div bind:this={el}>
  {#if isVisible}
    <div transition:fade={{ delay: 250, duration: 300 }}>
      <slot />
    </div>
  {/if}
</div>
