<div class="flex justify-between gap-x-4">
    <div class="flex flex-col gap-y-2">
        <div class="flex items-center">
            <span class="author-bullet"></span>
            <a href={{primary_author.url}} class="author-link">
                {{primary_author.name}}
            </a>
        </div>
        <a href={{url}} class="text-neutral-900 no-underline font-500 font-sans">
            <h3 class="headline-6">
                {{title}}
            </h3>
        </a>
        <div class="post-meta">
            <span class="capitalize after:content-['•'] after:ml-2 after:mr-1">
                {{date published_at format="MMM DD, YYYY" locale="es"}}
            </span>
            <span>{{reading_time minute=" Lectura 1 min." minutes="Lectura % min." }}</span>
        </div>
    </div>
    <figure class="flex-none w-16 h-16">
        <img src={{primary_author.profile_image}} alt={{title}} class="rounded-full" />
    </figure>
</div>
{{^if @last}}
    <hr class="relative h-7px my-4 border-t border-b-1 border-neutral-100
    after:absolute after:content-[''] after:block after:w-full after:border-t after:top-2px after:border-neutral-200">
{{/if}}